aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
anndata==0.11.4
anyio==4.10.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
array-api-compat==1.12.0
arrow==1.3.0
asttokens==3.0.0
async-timeout==5.0.1
attrs==25.3.0
autograd==1.8.0
autograd-gamma==0.5.0
beautifulsoup4==4.13.4
bleach==6.2.0
bokeh==3.7.3
branca==0.8.1
Brotli==1.1.0
cached-property==1.5.2
cachetools==6.1.0
certifi==2025.11.12
cffi==1.17.1
charset-normalizer==3.4.3
click==8.2.1
cloudpickle==3.1.1
colorama==0.4.6
colorcet==3.1.0
comm==0.2.3
confluent-kafka==2.8.0
contourpy==1.3.2
cucim==25.8.0
cuda-bindings==12.9.1
cuda-pathfinder==1.1.0
cuda-python==12.9.1
cudf==25.8.0
cudf_kafka==25.8.0
cudf-polars==25.8.0
cugraph==25.8.0
cuml==25.8.0
cupy==13.5.1
custreamz==25.8.0
cuvs==25.8.0
cuxfilter==25.8.0
cycler==0.12.1
cytoolz==1.0.1
dask==2025.7.0
dask-cuda==25.8.0
dask-cudf==25.8.0
datashader==0.18.2
debugpy==1.8.16
decorator==5.2.1
defusedxml==0.7.1
distributed==2025.7.0
distributed-ucxx==0.45.1
ecos==2.0.14
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
fastjsonschema==2.21.1
fastrlock==0.8.3
filelock==3.18.0
folium==0.20.0
fonttools==4.59.0
formulaic==1.2.1
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.7.0
geopandas==1.1.1
gmpy2==2.2.1
h2==4.2.0
h5py==3.14.0
holoviews==1.21.0
hpack==4.1.0
hyperframe==6.1.0
idna==3.10
igraph==0.11.9
imagecodecs==2025.3.30
imageio==2.37.0
importlib_metadata==8.7.0
interface_meta==1.3.0
ipykernel==6.30.1
ipython==8.37.0
isoduration==20.11.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
jsonpointer==3.0.0
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter_server==2.16.0
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyterlab_pygments==0.3.0
kiwisolver==1.4.9
lark==1.2.2
lazy_loader==0.4
legacy-api-wrap==1.4.1
leidenalg==0.10.2
lifelines==0.30.0
lightning-utilities==0.11.9
linkify-it-py==2.0.3
llvmlite==0.44.0
locket==1.0.0
lz4==4.4.4
mapclassify==2.8.1
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
matplotlib==3.10.5
matplotlib-inline==0.1.7
mdit-py-plugins==0.5.0
mdurl==0.1.2
mistune==3.1.3
mpmath==1.3.0
msgpack==1.1.1
multidict==6.6.3
multipledispatch==0.6.0
munkres==1.1.4
narwhals==2.1.1
natsort==8.4.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
numba==0.61.2
numba-cuda==0.14.0
numexpr==2.11.0
numpy==2.2.6
nvidia-ml-py==12.575.51
nvtx==0.2.13
nx-cugraph==25.8.0
openpyxl==3.1.5
optree==0.17.0
osqp==0.6.7.post3
overrides==7.7.0
packaging==25.0
pandas==2.3.1
pandocfilters==1.5.0
panel==1.7.5
param==2.2.1
parso==0.8.4
partd==1.4.2
patsy==1.0.1
pexpect==4.9.0
PhenoGraph==1.5.7
pillow==11.3.0
pip==25.2
platformdirs==4.3.8
polars==1.31.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
propcache==0.3.1
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==19.0.1
pybind11==3.0.0
pybind11-global==3.0.0
pycparser==2.22
pyct==0.5.0
Pygments==2.19.2
pylibcudf==25.8.0
pylibcugraph==25.8.0
pylibraft==25.8.0
pynndescent==0.5.13
pynvjitlink-cu12==0.7.0
pynvml==12.0.0
pyogrio==0.11.1
pyparsing==3.2.3
pyproj==3.7.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytorch-metric-learning==2.9.0
pytz==2025.2
pyviz_comms==3.0.6
PyWavelets==1.8.0
PyYAML==6.0.2
pyzmq==27.0.1
qdldl==0.1.7.post5
raft-dask==25.8.0
rapids-dask-dependency==25.8.0a0
referencing==0.36.2
requests==2.32.4
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==14.1.0
rmm==25.8.0
rpds-py==0.27.0
scanpy==1.11.4
scikit-image==0.24.0
scikit-learn==1.7.1
scikit-survival==0.24.1
scipy==1.15.2
seaborn==0.13.2
Send2Trash==1.8.3
session-info2==0.2
setuptools==80.9.0
shapely==2.1.1
simpervisor==1.0.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
stack-data==0.6.3
statsmodels==0.14.5
streamz==0.6.4
sympy==1.14.0
tblib==3.1.0
terminado==0.18.1
texttable==1.7.0
threadpoolctl==3.6.0
tifffile==2025.5.10
tinycss2==1.4.0
toolz==1.0.0
torch==2.7.1
torchmetrics==1.8.1
torchsurv==0.1.5
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
treelite==4.4.1
triton==3.3.1+git96394dff
types-python-dateutil==2.9.0.20250809
typing_extensions==4.14.1
typing_utils==0.1.0
tzdata==2025.2
uc-micro-py==1.0.3
ucx-py==0.45.0
ucxx==0.45.1
umap-learn==0.5.9.post2
unicodedata2==16.0.0
uniprot-id-mapper==1.1.4
uri-template==1.3.0
urllib3==2.5.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
wheel==0.45.1
wrapt==2.0.1
xarray==2025.6.1
xgboost==3.0.3
xyzservices==2025.4.0
yarl==1.20.1
zict==3.0.0
zipp==3.23.0
zstandard==0.23.0
